<div *ngFor="let project of project" class="card shadow p-3 mb-2 bg-white rounded" style="width: 90%;">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h5 class="card-title">{{project._id}}</h5>
            </div>
            <div class="col-6">
                <h5 class="text-right">${{project.current_fund}}/${{project.target_fund}}</h5>
            </div>
            <div class="col-6">
                <a href="#" class="btn btn-danger" style="margin-right:3%;">Like</a>
                <a routerLink="project-detail" class="btn btn-success">Donate</a>
            </div>
            <div class="col-6">
                <p class="card-text text-right">30 Participants</p>
            </div>
            <div class="col-6">

            </div>
            <div class="col-6">
                <p class="text-right">Likes by 56 people</p>
            </div>
            <div class="col-6">
                <p class="card-text">Project still in <strong class="text-danger">Concept</strong></p>

            </div>
            <div class="col-6">
            </div>
        </div>
        <div class="progress mt-3">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="15"
                aria-valuemin="0" aria-valuemax="100">Progress 25%</div>
        </div>
    </div>
</div>

<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 90%;">
    <img src="../assets/images/4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text text-right"><small class="text-muted">17 August 2019</small></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><img src="../assets/images/pic2.jpg" style="width: 50%;"></li>
        <li class="list-group-item"><img src="../assets/images/pic2.jpg" style="width: 50%;"></li>
        <li class="list-group-item"><img src="../assets/images/pic2.jpg" style="width: 50%;"></li>
    </ul>

    <div class="input-group mb-3">

        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile03" (change)="onFileSelected($event)"
                aria-describedby="inputGroupFileAddon03" (change)="onFileSelected($event)">
            <label class="custom-file-label" for="inputGroupFile03">Choosen Image</label>
        </div>
    </div>

</div>

<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 90%;">
    <img src="../assets/images/pic2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text text-right"><small class="text-muted">31 July 2019</small></p>
    </div>
</div>
<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 90%;">
    <img src="../assets/images/pic3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text text-right"><small class="text-muted">20 June 2019</small></p>
    </div>
</div>