<br>
<br>
<div *ngFor="let project of project" class="card shadow p-3 mb-2 bg-white rounded" style="width: 90%;">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h5 class="card-title">{{project.user_name}}</h5>
            </div>
            <div class="col-6">
                <h5 class="text-right">${{project.current_fund}}/${{project.target_fund}}</h5>
            </div>
            <div class="col-6">
                <a href="#" class="btn btn-danger" style="margin-right:3%;">Like</a>
                <a routerLink="project-detail" class="btn btn-success">Donate</a>
            </div>
            <div class="col-6">
                <p class="card-text text-right">Project Popularity <strong
                        class="text-success text-right">{{project.score_comment_react}}</strong></p>
            </div>
            <div class="col-6">

            </div>
            <div class="col-6">
                <p class="card-text text-right">Project still in <strong class="text-danger text-right">Concept</strong>
                </p>
            </div>
            <div class="col-6">


            </div>
            <div class="col-6">
            </div>
        </div>
    </div>
</div>

<div *ngFor="let project of project" class="card shadow p-3 mb-5 bg-white rounded" style="width: 90%;">
    <img src="{{project.image_url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text text-right"><small class="text-muted"></small></p>
    </div>
    <ul *ngFor="let comment of comments" class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="media">
                <img src="{{comment.profile_picture}}" width="10%" class="mr-3" alt="...">
                <div class="media-body">
                    <h5>{{comment.user_name}}</h5>
                    <small class="mt-0">{{comment.date}}</small>
                </div>
                <div *ngIf="auth.userProfile$ | async as profile">
                    <div *ngIf="profile.sub === comment.id_user">
                        <button type="button" data-toggle="modal" data-target="#deletingScreen" (click)="DeleteComment(comment._id)" class="btn btn-outline-danger">Delete</button>
                    </div>

                </div>

            </div>
            <br>
            <img src="{{comment.image_url}}" style="width: 50%;">
    </ul>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <form>
                <div class="custom-file">

                    <input type="file" class="custom-file-input" id="customFile" (change)="onFileSelected($event)">
                    <label class="custom-file-label" for="customFile">To comment, choose image</label>
                </div>
                <div *ngIf="auth.userProfile$ | async as profile; else elseButton">
                    <button type="submit" (click)="SendComment(profile.sub, profile.nickname, profile.picture)"
                        class="btn btn-primary mt-2" data-toggle="modal" data-target="#loadingScreen">Submit</button>

                    <button class="mt-2 float-right btn btn-warning dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Quick React
                    </button>
                    <div class="dropdown-menu">
                        <a data-toggle="modal" data-target="#loadingScreen"
                            (click)="SendReact(profile.sub, profile.nickname, profile.picture, 1)"
                            class="dropdown-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/react1.svg?alt=media&token=3de75289-30ef-4bf7-a2bb-adf682d9d53b"
                                class="rounded-sm" width="30%" alt="...">
                            Love
                        </a>
                        <a data-toggle="modal" data-target="#loadingScreen"
                            (click)="SendReact(profile.sub, profile.nickname, profile.picture, 2)"
                            class="dropdown-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/react2.svg?alt=media&token=3de75289-30ef-4bf7-a2bb-adf682d9d53b"
                                class="rounded-sm" width="30%" alt="...">
                            Like
                        </a>
                        <a data-toggle="modal" data-target="#loadingScreen"
                            (click)="SendReact(profile.sub, profile.nickname, profile.picture, 3)"
                            class="dropdown-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/react3.svg?alt=media&token=3de75289-30ef-4bf7-a2bb-adf682d9d53b"
                                class="rounded-sm" width="30%" alt="...">
                            Neutral
                        </a>
                        <a data-toggle="modal" data-target="#loadingScreen"
                            (click)="SendReact(profile.sub, profile.nickname, profile.picture, 4)"
                            class="dropdown-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/react4.svg?alt=media&token=3de75289-30ef-4bf7-a2bb-adf682d9d53b"
                                class="rounded-sm" width="30%" alt="...">
                            Dislike
                        </a>
                        <a data-toggle="modal" data-target="#loadingScreen"
                            (click)="SendReact(profile.sub, profile.nickname, profile.picture, 5)"
                            class="dropdown-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/react5.svg?alt=media&token=3de75289-30ef-4bf7-a2bb-adf682d9d53b"
                                class="rounded-sm" width="30%" alt="...">
                            Heart Break
                        </a>
                    </div>
                </div>
                <ng-template #elseButton>
                    <button type="submit"
                        (click)="SendComment('Anonymous', 'Anonymous', 'https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/30816086.jpeg?alt=media&token=4877fc72-ee74-41e7-924c-645fde030bc2')"
                        class="btn btn-primary mt-2" data-toggle="modal" data-target="#loadingScreen">Submit</button>
                    <button class="mt-2 float-right btn btn-warning dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Quick React
                    </button>
                    <div class="dropdown-menu">
                        <a data-toggle="modal" data-target="#loadingScreen"
                            (click)="SendReact('Anonymous', 'Anonymous', 'https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/30816086.jpeg?alt=media&token=4877fc72-ee74-41e7-924c-645fde030bc2', 1)"
                            class="dropdown-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/react1.svg?alt=media&token=3de75289-30ef-4bf7-a2bb-adf682d9d53b"
                                class="rounded-sm" width="30%" alt="...">
                            Love
                        </a>
                        <a data-toggle="modal" data-target="#loadingScreen"
                            (click)="SendReact('Anonymous', 'Anonymous', 'https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/30816086.jpeg?alt=media&token=4877fc72-ee74-41e7-924c-645fde030bc2', 2)"
                            class="dropdown-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/react2.svg?alt=media&token=3de75289-30ef-4bf7-a2bb-adf682d9d53b"
                                class="rounded-sm" width="30%" alt="...">
                            Like
                        </a>
                        <a data-toggle="modal" data-target="#loadingScreen"
                            (click)="SendReact('Anonymous', 'Anonymous', 'https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/30816086.jpeg?alt=media&token=4877fc72-ee74-41e7-924c-645fde030bc2', 3)"
                            class="dropdown-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/react3.svg?alt=media&token=3de75289-30ef-4bf7-a2bb-adf682d9d53b"
                                class="rounded-sm" width="30%" alt="...">
                            Neutral
                        </a>
                        <a data-toggle="modal" data-target="#loadingScreen"
                            (click)="SendReact('Anonymous', 'Anonymous', 'https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/30816086.jpeg?alt=media&token=4877fc72-ee74-41e7-924c-645fde030bc2', 4)"
                            class="dropdown-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/react4.svg?alt=media&token=3de75289-30ef-4bf7-a2bb-adf682d9d53b"
                                class="rounded-sm" width="30%" alt="...">
                            Dislike
                        </a>
                        <a data-toggle="modal" data-target="#loadingScreen"
                            (click)="SendReact('Anonymous', 'Anonymous', 'https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/30816086.jpeg?alt=media&token=4877fc72-ee74-41e7-924c-645fde030bc2', 5)"
                            class="dropdown-item">
                            <img src="https://firebasestorage.googleapis.com/v0/b/royalspectreproject.appspot.com/o/react5.svg?alt=media&token=3de75289-30ef-4bf7-a2bb-adf682d9d53b"
                                class="rounded-sm" width="30%" alt="...">
                            Heart Break
                        </a>
                    </div>
                </ng-template>

            </form>
        </li>
    </ul>




</div>

<div class="modal fade" id="loadingScreen" aria-hidden="true">
    <div class="d-flex justify-content-center" style="margin-top: 20%;">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <h1 class="text-white">Sending</h1>
    </div>
</div>

<div class="modal fade" id="deletingScreen" aria-hidden="true">
        <div class="d-flex justify-content-center" style="margin-top: 20%;">
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <h1 class="text-white">Deleting</h1>
        </div>
    </div>