<!--Jumbotron for profile information-->

<br>
<div *ngIf="auth.userProfile$ | async as profile">
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{profile.picture}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{profile.nickname}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
          
        <p class="card-text"><small class="text-muted">{{profile.updated_at}}</small></p>
      </div>
    </div>
  </div>
</div>



  <!--Heading for project carousel-->

  <div>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">Current Projects</span>
      
    </nav>
    <br>
    <a class="btn btn-primary btn-lg float-right" routerLink="" data-toggle="modal" data-target="#newproject">New Project</a>
    <br>
  </div>

  <!--Carousel for project presentation with 3 items-->




  <!-- Modal new project form-->

  <div class="modal fade" id="newproject" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header ">
          <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="register">

            <div class="form-group">
              <label for="project" class="col-form-label">Target Fund</label>
              <input [(ngModel)]="target_fund" type="number" [ngModelOptions]="{standalone: true}" class="form-control">
            </div>
            <div class="form-group">
                <label for="project" class="col-form-label">Status</label>
                <select class="form-control" [(ngModel)]="status" [ngModelOptions]="{standalone: true}" id="exampleFormControlSelect1">
                  <option>Idea</option>
                  <option>Concept</option>
                  <option>Pre-Flight</option>
                  <option>Launched</option>
                </select>
              </div>
              <label for="project" class="col-form-label">Choose Image</label>
              <div class="input-group mb-3">
                  
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile03" (change)="onFileSelected($event)" aria-describedby="inputGroupFileAddon03" (change)="onFileSelected($event)">
                  <label class="custom-file-label" for="inputGroupFile03">Choosen Image</label>
                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <span (click)="CreateProject(profile.sub)" class="btn btn-primary">Create</span>
        </div>
      </div>
    </div>
  </div>
</div>