<div class="card shadow p-3 mb-5 bg-white rounded" style="margin-bottom: 4%;">
  <img src="../assets/images/4.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p>Likes by 56 people</p>
    <div class="row">
      <div class="col-6">
        <h5 class="card-title">Michael Moore</h5>
      </div>
      <div class="col-6">
        <h5 class="text-right">$120/$500</h5>
      </div>
      <div class="col-6">
        <a href="#" class="btn btn-danger" style="margin-right:3%;">Like</a>
        <a routerLink="project-detail" class="btn btn-primary">See Project</a>
      </div>
      <div class="col-6">
        <p class="card-text text-right">30 Participants</p>
      </div>
    </div>
  </div>
</div>
<div class="card shadow p-3 mb-5 bg-white rounded" style="margin-bottom: 4%;">
  <img src="../assets/images/1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p>Likes by 56 people</p>
    <div class="row">
      <div class="col-6">
        <h5 class="card-title">Michael Moore</h5>
      </div>
      <div class="col-6">
        <h5 class="text-right">$120/$500</h5>
      </div>
      <div class="col-6">
        <a href="#" class="btn btn-danger" style="margin-right:3%;">Like</a>
        <a href="#" class="btn btn-primary">See Project</a>
      </div>
      <div class="col-6">
        <p class="card-text text-right">30 Participants</p>
      </div>
    </div>
  </div>
</div>
<div class="card shadow p-3 mb-5 bg-white rounded" style="margin-bottom: 4%;">
  <img src="../assets/images/3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p>Likes by 56 people</p>
    <div class="row">
      <div class="col-6">
        <h5 class="card-title">Michael Moore</h5>
      </div>
      <div class="col-6">
        <h5 class="text-right">$120/$500</h5>
      </div>
      <div class="col-6">
        <a href="#" class="btn btn-danger" style="margin-right:3%;">Like</a>
        <a href="#" class="btn btn-primary">See Project</a>
      </div>
      <div class="col-6">
        <p class="card-text text-right">30 Participants</p>
      </div>
    </div>
  </div>
</div>
<div class="card shadow p-3 mb-5 bg-white rounded" style="margin-bottom: 4%;">
  <img src="../assets/images/4.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p>Likes by 56 people</p>
    <div class="row">
      <div class="col-6">
        <h5 class="card-title">Michael Moore</h5>
      </div>
      <div class="col-6">
        <h5 class="text-right">$120/$500</h5>
      </div>
      <div class="col-6">
        <a href="#" class="btn btn-danger" style="margin-right:3%;">Like</a>
        <a href="#" class="btn btn-primary">See Project</a>
      </div>
      <div class="col-6">
        <p class="card-text text-right">30 Participants</p>
      </div>
    </div>
  </div>
</div>
<div class="card shadow p-3 mb-5 bg-white rounded" style="margin-bottom: 4%;">
  <img src="../assets/images/5.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p>Likes by 56 people</p>
    <div class="row">
      <div class="col-6">
        <h5 class="card-title">Michael Moore</h5>
      </div>
      <div class="col-6">
        <h5 class="text-right">$120/$500</h5>
      </div>
      <div class="col-6">
        <a href="#" class="btn btn-danger" style="margin-right:3%;">Like</a>
        <a href="#" class="btn btn-primary">See Project</a>
      </div>
      <div class="col-6">
        <p class="card-text text-right">30 Participants</p>
      </div>
    </div>
  </div>
</div>
<div class="card shadow p-3 mb-5 bg-white rounded" style="margin-bottom: 4%;">
  <img src="../assets/images/6.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p>Likes by 56 people</p>
    <div class="row">
      <div class="col-6">
        <h5 class="card-title">Michael Moore</h5>
      </div>
      <div class="col-6">
        <h5 class="text-right">$120/$500</h5>
      </div>
      <div class="col-6">
        <a href="#" class="btn btn-danger" style="margin-right:3%;">Like</a>
        <a href="#" class="btn btn-primary">See Project</a>
      </div>
      <div class="col-6">
        <p class="card-text text-right">30 Participants</p>
      </div>
    </div>
  </div>
</div>