
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">
    <img src="../assets/images/logo.png" width="50" height="50" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <br>
        <a class="nav-link" routerLink="/">Spectre</a>
      </li>
      <li class="nav-item">
        <br>
        <a class="nav-link" href="#">Popular</a>
      </li>
      <li class="nav-item">
        <br>
        <a class="nav-link" routerLink="" (click)="auth.login()" *ngIf="!auth.loggedIn">Login/Sign up</a>
        <a class="nav-link" routerLink="" (click)="auth.logout()" *ngIf="auth.loggedIn">Logout</a>&nbsp;
      </li>
      <li class="nav-item">
        <br>
        <a class="nav-link" routerLink="external-api" *ngIf="auth.loggedIn">Post</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li>
        <a class="nav-link" *ngIf="!auth.loggedIn"> 
          <img src="../assets/images/logo2.png" width="60" height="45" alt="">
          You Are Anonymous
        </a>
        <a routerLink="profile" *ngIf="auth.loggedIn">
            <img src="../assets/images/logo2.png" width="60" height="45" alt="">
            Profile Page
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>



<!-- LOGIN FORM
-->

<div class="modal fade" id="login" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header ">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="login">

          <div class="form-group">
            <label for="email" class="col-form-label">email:</label>
            <input [(ngModel)]="enteredEmail" [ngModelOptions]="{standalone: true}" type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">password:</label>
            <input [(ngModel)]="enteredPassword" [ngModelOptions]="{standalone: true}" type="password" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-toggle="modal" data-target="#register" class="btn btn-secondary"
          data-dismiss="modal">Register</button>
        <span (click)="login()" class="btn btn-primary">Login</span>
      </div>
    </div>
  </div>
</div>

<!-- REGISTER FORM
-->
<div class="modal fade" id="register" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header ">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="login" ng-submit="auth.login()">

          <div class="form-group">
            <label for="email" class="col-form-label">email:</label>
            <input [(ngModel)] = "enteredEmail" [ngModelOptions]="{standalone: true}" type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">password:</label>
            <input [(ngModel)] = "enteredPassword" [ngModelOptions]="{standalone: true}" type="password" class="form-control">
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">confirm password:</label>
            <input [(ngModel)] = "confirmPassword" [ngModelOptions]="{standalone: true}" type="password" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <span (click)="register()" class="btn btn-primary">Register</span>
      </div>
    </div>
  </div>
</div>
