<div class="card mb-3 shadow bg-white rounded">
    <img src="../assets/FundamentalAssets/mostPopular.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title text-white align-bottom">Popular Project</h5>
    </div>
    <div class="card-body ">
        <div class="list-group-flush">

            <a href="#" class="list-group-item list-group-item-action">
                <img src="../assets/images/1.jpg" class="rounded-sm" style="margin-right:5%;" width="14%" height="14%"
                    alt="...">
                Antoine Sharp
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <img src="../assets/images/3.jpg" class="rounded-sm" style="margin-right:5%;" width="14%" height="14%"
                    alt="...">
                Gerald Tony
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <img src="../assets/images/4.jpg" class="rounded-sm" style="margin-right:5%;" width="14%" height="14%"
                    alt="...">
                Michael Moore
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <img src="../assets/images/6.jpg" class="rounded-sm" style="margin-right:5%;" width="14%" height="14%"
                    alt="...">
                Alejandra De Laurent
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <img src="../assets/images/5.jpg" class="rounded-sm" style="margin-right:5%;" width="14%" height="14%"
                    alt="...">
                Jonathan Michele
            </a>
        </div>
    </div>
</div>

<div class="card mb-3 shadow bg-white rounded">
    <img src="../assets/FundamentalAssets/mostPopular.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title text-white align-bottom">Popular People</h5>
    </div>
    <div class="card-body">
        <div class="list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">
                <img src="../assets/images/4.jpg" class="rounded-sm" style="margin-right:5%;" width="14%" height="14%"    alt="...">
                Michael Moore
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <img src="../assets/images/5.jpg" class="rounded-sm" style="margin-right:5%;" width="14%" height="14%"
                    alt="...">
                Jonathan Michele
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <img src="../assets/images/1.jpg" class="rounded-sm" style="margin-right:5%;" width="14%" height="14%"
                    alt="...">
                Antoine Mason
            </a>


            <a href="#" class="list-group-item list-group-item-action">
                <img src="../assets/images/6.jpg" class="rounded-sm" style="margin-right:5%;" width="14%" height="14%"
                    alt="...">
                Alejandra De Laurent
            </a>

            <a href="#" class="list-group-item list-group-item-action">
                <img src="../assets/images/3.jpg" class="rounded-sm" style="margin-right:5%;" width="14%" height="14%"
                    alt="...">
                Gerald Tony
            </a>
        </div>
    </div>
</div>