
<br>
<form>
    <div class="form-group">
        <label for="exampleFormControlFile1">Image Upload (3 x maximum per day)</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    
    <div class="form-group">
      <label for="exampleFormControlInput1">Project Name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="MyProjectName">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Project Phase</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Idea</option>
        <option>Concept</option>
        <option>Pre-Flight</option>
        <option>Launched</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Project Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="An idea to keep my city growing"></textarea>
    </div>
    <br>
<button (click)="postImage()">Submit</button>
  </form>


<br>
<br>
<p>----------------Testing Zone------------</p>
<!--
The card below is just for test purposes to upload images. George
-->
<div class="card shadow p-3 mb-5 bg-white rounded" style="margin-bottom: 4%;">
    <div class="card-body" >
      <div class="row">
        <div class="col-md-12">
          <h1>File Upload</h1>
          <input type="file" (change)="onFileSelected($event)">
          <button type="button" (click)="onUpload()">Upload!</button>
        </div>
      </div>
    </div>
  </div>

<button (click)="pingApi()">Ping API</button>



<pre *ngIf="responseJson">
<code>{{ responseJson | json }}</code>
</pre>
