<!--
The card below is just for test purposes to upload images. George
-->
<div class="card shadow p-3 mb-5 bg-white rounded" style="margin-bottom: 4%;">
    <div class="card-body" >
      <div class="row">
        <div class="col-md-12">
          <h1>File Upload</h1>
          <input type="file" (change)="onFileSelected($event)">
          <button type="button" (click)="onUpload()">Upload!</button>
        </div>
      </div>
    </div>
  </div>

<button (click)="pingApi()">Ping API</button>

<pre *ngIf="responseJson">
<code>{{ responseJson | json }}</code>
</pre>